@charset "UTF-8";
/*
nav#projetos li {
	font-size: 16pt;
	padding: 5px;
	margin-left: 40px;
}
nav#projetos ul {
	width: 100%;
	margin: auto -40px auto -37px;

}
nav#projetos iframe {
	width: 100%;
	height: 460px;
	margin: 20px auto;
	border-style: solid;
	border-color: #dddddd;
	border-width: 5px;
	cursor: pointer;
}*/

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}